In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("DOW_JONES_US.csv")

In [4]:
df_new = df.assign(date_new = pd.to_datetime(df["date"]))
df_new["date"]=df_new["date_new"].copy()
df_new = df_new.drop("date_new", 1)
df = df_new

In [5]:
df = df.loc[(df["date"]>="2019-01-01")&(df["date"]<"2020-04-08"),:]
df

           date     value
2955 2019-01-02  23346.24
2956 2019-01-03  22686.22
2957 2019-01-04  23433.16
2958 2019-01-07  23531.35
2959 2019-01-08  23787.45
...         ...       ...
3269 2020-04-01  20943.51
3270 2020-04-02  21413.44
3271 2020-04-03  21052.53
3272 2020-04-06  22679.99
3273 2020-04-07  22653.86

[319 rows x 2 columns]

In [15]:
df=df.sort_values(by=["date"], ascending=False).reset_index().drop("index",1)

In [16]:
df

          date     value
0   2020-04-07  22653.86
1   2020-04-06  22679.99
2   2020-04-03  21052.53
3   2020-04-02  21413.44
4   2020-04-01  20943.51
..         ...       ...
314 2019-01-08  23787.45
315 2019-01-07  23531.35
316 2019-01-04  23433.16
317 2019-01-03  22686.22
318 2019-01-02  23346.24

[319 rows x 2 columns]

In [17]:
df.to_csv("DOW_JONES_US_clean")

In [ ]:
import pandas as pd
import numpy as np

def to_clean_data (filepath):
    df=pd.read_csv(filepath)
    df_new = df.assign(date_new = pd.to_datetime(df["date"]))
    df_new["date"]=df_new["date_new"].copy()
    df_new = df_new.drop("date_new", 1)
    df = df_new 
    df = df.loc[(df["date"]>="2019-01-01")&(df["date"]<"2020-04-08"),:]
    df=df.sort_values(by=["date"], ascending=False).reset_index().drop("index",1)
    
    return df.to_csv(f"{filepath}_clean")